POSTGRES_PASSWORD=#<пароль для PostgreSQL>
POSTGRES_USER=#<имя пользователя  PostgreSQL>
POSTGRES_DB=movies_database

POSTGRES_HOST=postgresql # название Докер контейнера с базой PostgreSQL
POSTGRES_PORT=5432
POSTGRES_OPTIONS="-c search_path=content" 

ELASTIC_HOST=elasticsearch # Хост для Elasticsearch 
ELASTIC_API_HOST='127.0.0.1'
ELASTIC_PORT=9200 # Порт для Elasticsearch
ELASTIC_USERNAME=#<имя пользователя для Elasticsearch>
ELASTIC_PASSWORD=#<пароль для Elasticsearch>

REDIS_HOST=redis
REDIS_API_HOST='127.0.0.1'

SQLITE_PATH=/app/db.sqlite
