ELASTIC_HOST=elasticsearch 
ELASTIC_TEST_HOST=http://elasticsearch:9200 
ELASTIC_PORT=9200 
ELASTIC_USERNAME=elastic 
ELASTIC_PASSWORD=#<пароль для Elasticsearch>
ELASTIC_INDEX=movies 
SERVICE_URL=http://test_server:8000 
ES_ID=uuid 
REDIS_CACHE_API_HOST=redis_cache 
REDIS_CACHE_EXPIRE=300
REDIS_CACHE_PORT=6379

PROJECT_NAME="Read-only API для онлайн-кинотеатра"
PROJECT_DESCRIPTION="Информация о фильмах, жанрах и людях, участвовавших в создании произведения"
PROJECT_VERSION="1.0.0"
PROJECT_CACHE_SERVICE_NAME="redis"